<p style="text-align: center; font-size: 2rem;">{{ yourAuthenticationCodeMsg }}</p>
<p style="text-align: center; font-size: 5rem;">{{ code }}</p>
<p style="text-align: center; font-size: .75rem;">{{ validUntilMsg }} <strong>{{ validUntil }}</strong></p>
<p style="max-width: 400px; margin: 1rem auto; padding: 1rem; background-color: #eeeeee; color: black; border-radius: .5rem; font-size: .75rem;">{{ footerMsg }}</p>
<p style="margin: 2rem; text-align: center;"><strong>powered by xuntos auth</strong></p>
